{% extends "base.html" %}

{% block heading%}Registration Panel{% endblock %}

{% block content %}

<div class="space-y-6">

    <section class="max-w-4xl p-6 mb-6 bg-white border rounded-md shadow-md">
        <div class="">
            <h3 class="text-lg font-medium leading-6 text-gray-900">Teacher Registration</h3>
            <p class="mt-1 text-sm text-gray-500">Enter teacher details below.</p>
        </div>

        <form action="{{ url_for('admin.admin_register_teacher') }}" method="POST">
            {{ form.hidden_tag() }}
            <div class="grid grid-cols-1 gap-8 mt-4 sm:grid-cols-2">
                <div>
                    <label class="text-gray-700 " for="username">Username</label>
                    {{ form.username(id="username", type="text", class="block w-full max-w-sm px-4 py-2 my-2
                    text-gray-700 bg-white border border-gray-200 rounded-md
                    focus:border-blue-400
                    focus:outline-none ", placeholder="Enter username") }}
                </div>

                <div>
                    <label class="text-gray-700" for="email">Email Address</label>
                    {{ form.email(id="email", type="email", class="block w-full max-w-sm px-4 py-2 mt-2 text-gray-700
                    bg-white border border-gray-200 rounded-md
                    focus:border-blue-400
                    focus:outline-none ", placeholder="Enter Email Address") }}
                </div>

                <div>
                    <label class="text-gray-700 " for="course-dropdown">Select Course</label>
                    <select name="course" id="course-dropdown" type="text" 
                        class="block w-full max-w-sm px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:outline-none">
                        <option value="">Select Course</option>
                        {% for course in form.course_name.choices %}
                        <option value="{{ course[0] }}">{{ course[1] }}</option>
                        {% endfor %}
                    </select>

                </div>

                <div>
                    <label class="text-gray-700 " for="class-dropdown">Select Class</label>
                    <select name="class" id="class-dropdown" type="text"
                        class="block w-full max-w-sm px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:outline-none">
                        <option value="">Select Class</option>
                        {% for class in classes %}
                        <option value="{{ class.id }}">{{ class.class_name }}</option>
                        {% endfor %}
                    </select>

                </div>
            </div>
            {% if form.errors %}
            <ul>
                {% for field, errors in form.errors.items() %}
                {% for error in errors %}
                <li>{{ field }}: {{ error }}</li>
                {% endfor %}
                {% endfor %}
            </ul>
            {% endif %}
            <div class="mt-4 max-w-sm flex align-end">
                <button class="px-6 py-2 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 
                        transform bg-blue-600 border rounded-lg hover:bg-blue-700" type="submit">
                    Register Teacher
                </button>
            </div>
        </form>
    </section>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}

<script>
    // JavaScript to handle dynamic dropdowns
    const courseDropdown = document.getElementById('course-dropdown');
    const classDropdown = document.getElementById('class-dropdown');

    courseDropdown.addEventListener('change', () => {
        const selectedCourseId = courseDropdown.value;
        fetch(`/admin/get_classes/${selectedCourseId}`)
            .then(response => response.json())
            .then(data => {
                classDropdown.innerHTML = '<option value="">Select Class</option>';
                data.forEach(cls => {
                    const option = document.createElement('option');
                    option.value = cls[0]; // Class ID
                    option.textContent = cls[1]; // Class Name
                    classDropdown.appendChild(option);
                });
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });
</script>
{% endblock %}