{% extends "base.html" %}

{% block heading%}Registration Panel{% endblock %}

{% block content %}
<div class="space-y-6">
    <section class="max-w-4xl md:w-auto p-4 mb-6 bg-white md:w-2/3 border rounded-md shadow-md">
        <div class=""> 
            <h3 class="text-lg font-medium leading-6 text-gray-900">Bulk Student Registration</h3>
            <p class="mt-1 text-sm text-gray-500">Upload an Excel Sheet with columns: Full Name, Email, Course</p>
        </div>
        <!-- Form for Submitting Excel File -->
        <form action="{{ url_for('admin.submit_excel') }}" method="post" enctype="multipart/form-data">
            <label for="image" class="block mt-2 text-gray-700">Submit Excel File</label>
        
            <input type="file" name="file" accept=".xlsx, .xls" class="block w-full max-w-sm px-3 py-2 mt-2 text-sm text-gray-600 bg-white border border-gray-200 rounded-lg 
                    file:bg-gray-200 file:text-gray-700 file:text-sm file:px-4 file:py-1 file:border-none file:rounded-full 
                    placeholder-gray-400/70  focus:border-blue-400 focus:outline-none " />
            <div class="mt-4 flex flex-end">
                <button class="px-6 py-2 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 
                        transform bg-indigo-600 border rounded-lg hover:bg-indigo-700" type="submit">
                    Submit Excel
                </button>
            </div>
            

        </form>
    </section>
    
    <section class="max-w-md p-6 mx-auto mb-6 bg-white border rounded-md shadow-md">
        <div class="">
            <h3 class="text-lg font-medium leading-6 text-gray-900">Single Stundent Registation</h3>
            <p class="mt-1 text-sm text-gray-500">Enter student details below.</p>
        </div>
    
        <form action="{{ url_for('admin.admin_register_student') }}" method="POST">
            {{ student_form.hidden_tag() }}
            <div class="grid grid-cols-1 gap-8 mt-4 sm:grid-cols-2">
                <div>
                    <label class="text-gray-700 " for="username">Username</label>
                    {{ student_form.username(id="username", type="text", class="block w-full max-w-sm px-4 py-2 my-2 text-gray-700 bg-white border border-gray-200 rounded-md 
                    focus:border-blue-400  
                 focus:outline-none ", placeholder="Enter username") }} 
                </div>
            
                <div>
                    <label class="mt-2 text-gray-700" for="email">Email Address</label>
                    {{ student_form.email(id="email", type="email", class="block w-full max-w-sm px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md 
                    focus:border-blue-400  
                 focus:outline-none ", placeholder="Enter Email Address") }}
                </div>
            
                <div>
                    <label class="mt-2 text-gray-700 " for="password">Course</label>
                    {{ student_form.course_name(id="course_name", type="text", class="block w-full max-w-sm px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md 
                    focus:border-blue-400  
                 focus:outline-none ", placeholder="Enter Course") }}
                </div>
            
                <div>
                    <label class="mt-2 text-gray-700 " for="passwordConfirmation">Class
                    </label>
                    {{ student_form.class_name(id="class_name", type="text", class="block w-full max-w-sm px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md 
                    focus:border-blue-400  
                 focus:outline-none ", placeholder="Enter Class") }}
                </div>
            </div>
            
            <div class="mt-4 max-w-sm flex justify-end">
                <button class="px-6 py-2 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 
                        transform bg-indigo-600 border rounded-lg hover:bg-indigo-700" type="submit">
                    Register Student
                </button>
            </div>
        </form>
    </section>
    
    <section class="max-w-4xl p-6 mx-auto mb-6 bg-white border rounded-md shadow-md">
        <div class="">
            <h3 class="text-lg font-medium leading-6 text-gray-900">Teacher Registration</h3>
            <p class="mt-1 text-sm text-gray-500">Enter teacher details below.</p>
        </div>
    
        <form action="{{ url_for('admin.admin_register_student') }}" method="POST">
            {{ teacher_form.hidden_tag() }}
            <div class="grid grid-cols-1 gap-8 mt-4 sm:grid-cols-2">
                <div>
                    <label class="text-gray-700 " for="username">Username</label>
                    {{ teacher_form.username(id="username", type="text", class="block w-full max-w-sm px-4 py-2 my-2 text-gray-700 bg-white border border-gray-200 rounded-md 
                    focus:border-blue-400  
                 focus:outline-none ", placeholder="Enter username") }} 
                </div>
            
                <div>
                    <label class="text-gray-700" for="email">Email Address</label>
                    {{ teacher_form.email(id="email", type="email", class="block w-full max-w-sm px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md 
                    focus:border-blue-400  
                 focus:outline-none ", placeholder="Enter Email Address") }}
                </div>
            
                <div>
                    <label class="text-gray-700 " for="password">Course</label>
                    {{ teacher_form.course_name(id="course_name", type="text", class="block w-full max-w-sm px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md 
                    focus:border-blue-400  
                 focus:outline-none ", placeholder="Enter Course") }}
                </div>
            
                <div>
                    <label class="text-gray-700 " for="passwordConfirmation">Class
                    </label>
                    {{ teacher_form.class_name(id="class_name", type="text", class="block w-full max-w-sm px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md 
                    focus:border-blue-400  
                 focus:outline-none ", placeholder="Enter Class") }}
                </div>
            </div>
            
            <div class="mt-4 max-w-sm flex justify-end">
                <button class="px-6 py-2 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 
                        transform bg-indigo-600 border rounded-lg hover:bg-indigo-700" type="submit">
                    Register Teacher
                </button>
            </div>
        </form>
    </section>
</div>
{% endblock %}
