<!-- teachers.html -->
{% extends "base.html" %}

{% block heading%}Registered Teachers{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registered Teachers</title>
</head>
<body>

    <table>
        <tr>
            <th>Teacher ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <!-- Add more columns for other teacher attributes if needed -->
        </tr>
        {% for teacher in teachers %}
            <tr>
                <td>{{ teacher.teacher_id }}</td>
                <td>{{ teacher.name }}</td>
                <td>{{ teacher.email }}</td>
                <!-- Add more columns' data if needed -->
            </tr>
        {% endfor %}
    </table>

{% endblock %}
